<ion-view view-title="Login">
    <ion-content>
        <div class="im-wrapper">
			<form>
			    <div class="list">
			        <label class="item item-input item-floating-label">
			            <span class="input-label">Username</span>
			            <input type="text" placeholder="Username" ng-model="username">
			        </label>
			        <label class="item item-input item-floating-label">
			            <span class="input-label">Password</span>
			            <input type="password" placeholder="Password" ng-model="password">
			        </label>
			    </div>
                <button id="submit-button" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Submit
                </button>
			</form>
		</div>	
	</ion-content>	
</ion-view>